$fontColor: #0091aa;
$colorHeading: black;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

thead{
    background-color: #0072cc;
    color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #74aaf5;
}

tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody > tr:nth-child(odd) {
    background-color: lightsteelblue;
}


.expand-transition {
    transition: all .10s ease;
    height: 30px;
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
  }