<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>WhatToDo</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h1>LIST OF ACTIVITIES</h1>
  <div id="App">
    <div class="table-responsive">
      <!-- <button v-on:click="getAllActivities" class="btn btn-primary">Get all books</button> -->
      <table class="table table-hover table-md table-bordered">
        <thead class="thead">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Activity Level</th>
            <th scope="col">Environment</th>
            <!-- <th scope="col">Weather</th> -->
            <th scope="col">Time in minutes</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="activity in activities">
            <th scope="row">{{activity.id}}</th>
            <td>{{activity.name}}</td>
            <td>{{activity.activityLevel}}</td>
            <td>{{activity.environment}}</td>
            <!-- <th>{{activity.weather}}</th> -->
            <td>{{activity.timeUsage}}</td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" @click="Time = '10'" name="options" id="10min" autocomplete="off" checked> 10 - 20 min
          </label>
          <label class="btn btn-secondary">
            <input type="radio" @click="Time = '20'" name="options" id="20min" autocomplete="off"> 20 - 40 min
          </label>
          <label class="btn btn-secondary">
            <input type="radio" @click="Time = '40'" name="options" id="30min" autocomplete="off"> 40 - 60 min
          </label>
          <label class="btn btn-secondary">
            <input type="radio" @click="Time = '60'" name="options" id="30min" autocomplete="off"> +60 min
          </label>
        </div>
        <form>
          <div class="custom-control custom-switch">
            <input type="checkbox" v-model="switch1" class="custom-control-input" id="RelaxOrWork">
            <label class="custom-control-label" for="RelaxOrWork"><span v-if="switch1 === false">Work</span><span
                v-if="switch1">Sparetime</span></label>
          </div>
        </form>
        <form>
          <div class="custom-control custom-switch">
            <input type="checkbox" v-model="switch2" class="custom-control-input" id="InOrOut" :disabled="ShowEnvironmentButton == false">
            <label class="custom-control-label" for="InOrOut"><span v-if="switch2 === false">Outdoor</span><span
                v-if="switch2">Indoor</span></label>
          </div>
        </form>
        <button v-on:click="getWeatherData"></button>
        <button class="btn btn-dark" id="findRandomActivity" v-on:click="RandomActivity">Random</button>
        <transition name="fade">
          <div id="result" v-if="activeresult">{{result}}</div>
        </transition>
        <!-- <h2>Delete</h2>
    <input v-model.number="deleteId" placeholder="id" type="number" />
    <button v-on:click="deleteBook(deleteId)" class="btn btn-warning">Delete</button>
    {{deleteMessage}}

    <h2>Add</h2>
    <input v-model="formData.name" placeholder="name" type="text" />
    <input v-model="formData.type" placeholder="type" type="text" />
    <input v-model="formData.weather" placeholder="weather" type="text" />
    <input v-model.number="formData.time" placeholder="time" type="number" />
    <button v-on:click="addActivity()" class="btn btn-success">Add</button>
    <div>{{addMessage}}</div> -->


      </div>

      <script src="bundle.js"></script>
</body>

</html>