<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>WhatToDo</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h1>LIST OF ACTIVITIES</h1>
  <h2>WHAT TO DO?</h2>
  <div id="App">
    <h2>Get All</h2>
    <!-- <button v-on:click="getAllActivities" class="btn btn-primary">Get all books</button> -->


    <table class="table table-dark table-hover table-striped table-md table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Weather</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="activity in activities">
          <th scope="row">{{activity.id}}</th>
          <td>{{activity.name}}</td>
          <th>{{activity.type}}</th>
          <th>{{activity.weather}}</th>
          <th>{{activity.time}}</th>   
        </tr>
           <!-- <ul>
              <li v-for="activity in activites">
                {{activity.id}} : {{activity.name}} {{activity.type}} {{activity.weather}} {{activity.time}}
              </li>
            </ul> -->
      </tbody>
    </table>



    <table class="table table-dark table-hover table-striped table-md table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Publisher</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books">
          <th scope="row">{{book.id}}</th>
          <td>{{book.title}}</td>
          <th>{{book.author}}</th>
          <th>{{book.publisher}}</th>
          <th>{{book.price}}</th>
          
        </tr>
        <!-- <ul class="list-group">
          <li class="list-group-item" v-for="book in books">
            {{book.id}} : {{book.title}} {{book.author }} {{book.Publisher}} {{book.price}} 
          </li>
        </ul> -->
      </tbody>
    </table>

    <!-- <h2>Delete</h2>
    <input v-model.number="deleteId" placeholder="id" type="number" />
    <button v-on:click="deleteBook(deleteId)" class="btn btn-warning">Delete</button>
    {{deleteMessage}}

    <h2>Add</h2>
    <input v-model="formData.name" placeholder="name" type="text" />
    <input v-model="formData.type" placeholder="type" type="text" />
    <input v-model="formData.weather" placeholder="weather" type="text" />
    <input v-model.number="formData.time" placeholder="time" type="number" />
    <button v-on:click="addActivity()" class="btn btn-success">Add</button>
    <div>{{addMessage}}</div> -->


  </div>

  <script src="bundle.js"></script>
</body>

</html>